*.safetensors filter=lfs diff=lfs merge=lfs -text
/data/AmbiQT/ambiqt_ambrosia_format.csv filter=lfs diff=lfs merge=lfs -text
/data/bird/bird_train_ambrosia_format.csv filter=lfs diff=lfs merge=lfs -text
